$black: #000;

.game-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2em auto;
  width: 330px;
}

.hidden {
  display: none;
}

.box {
  height: 100px;
  width:  32.9%;

  img {
    width: 100%;
  }
}



.top-left {
  border: 2px solid $black;
  border-left: 0;
  border-top: 0;
}

.top-right {
  border: 2px solid $black;
  border-right: 0;
  border-top: 0;
}

.top-center {
  border-bottom: 2px solid $black;
}

.center-left {
  border-right: 2px solid $black;
}

.center-right {
  border-left: 2px solid $black;
}

.bottom-left {
  border: 2px solid $black;
  border-bottom: 0;
  border-left: 0;
}

.bottom-center {
  border-top: 2px solid $black;
}

.bottom-right {
  border: 2px solid $black;
  border-bottom: 0;
  border-right: 0;
}
